@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("~swiper/css");
@import url("~swiper/css/pagination");

html,
body,
:root {
  height: 100%;
  max-width: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.swiper {
  background: #95d3d4;
  padding:42px 0px;
}

@media (max-width: 320px) {
  .swiper {
   
 
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #95d3d4; */

    padding-top: 20px;
  }
}
/* @media (max-width: 375px) {
    .swiper {
      width: 100%;
      height: 55rem;
   
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #95d3d4;
  
      padding-top: 20px;
    }
  } */
@media (max-width: 425px) {
  .swiper {
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #95d3d4; */

    padding-top: 20px;
  }
}

@media (min-width: 500px) {
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #b2dded; */

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background-color: #3791a4 !important;
  width: 22px;
  height: 1rem;
  border-radius: 1rem;
  background-color: #6d8ab3;
  cursor: pointer;
  /* margin-bottom: 20px !important; */
}
